LakbAI-Mobile/.firebase/logs/

# API uploads directory
LakbAI-API/uploads/
LakbAI-API/.env

LakbAI-Admin/.vite/

LakbAI-Mobile/.expo/
LakbAI-Mobile/config/apiConfig.ts
LakbAI-Mobile/config/developerConfig.ts